{% extends 'blog/base.html' %}

{% block content %}

   {% for post in posts %}
        <article>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
             <em>Published at: <span class="glyphicon glyphicon-calendar"> </span> {{ post.published_date  }} by <span class="glyphicon glyphicon-user"></span> {{post.author}} </em>
           
           {% autoescape off %}

           {% if post.image %}
                <div class="for_prewiev_image">
                    <img src="{{ post.image.url }}"/>
                </div>
            {% endif %}

            <p>{{ post.preview_text|linebreaks }}</p>
            <b><a href="{% url 'post_detail' pk=post.pk %}"> Подробнее </a></b>

            {% endautoescape %}

            {% if post.category %}
            <p> Category: <em><a href="{% url 'category' pk=post.category.pk %}">{{ post.category }} </a></em></p>
            {% endif %}
        </article>
    {% endfor %}

        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}

{% endblock content %}