{% extends 'blog/base.html' %}

{% block content %}

   {% for post in posts %}
        <article>
            <h3><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
             <em>Published at: <span class="glyphicon glyphicon-calendar"> </span> {{ post.published_date }} by <span class="glyphicon glyphicon-user"></span> {{post.author}} </em>
           
            <p>{{ post.text|linebreaks }}</p>
            {% if post.category %}
            <p> Category: <em><a href="{% url 'category' pk=post.category.pk %}">{{ post.category }} </a></em></p>
            {% endif %}
        </article>
    {% endfor %}

        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}

{% endblock content %}